.list-container {
  padding: 4rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: auto;
  gap: 5rem;
  z-index: -1;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  gap: 5px;
}

.pagination a {
  font-size: 12px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: black;
  color: orange;
}

.pagination .active {
  background-color: gray;
}
