.flex-column {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgba(52, 108, 103, 0.712);

  padding: 8rem 6rem;
  color: white;
}

footer img {
  width: 30px;
  height: 30px;
}

.links-others {
  justify-content: space-between;
  font-size: 1.2rem;
}

.socials-links {
  align-items: flex-start;
  gap: 1rem;
}

.socialmedia-list img {
  margin-right: 15px;
}

.legal {
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .links-others {
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    padding: 3rem 1.5rem;
  }

  footer {
    width: 100vw;
    padding: 3rem 0;
  }

  .socialmedia-list img {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .links-others {
    padding: 0;
    width: 90%;
    margin: auto;
  }
}
